@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

// -----------------------------------------------------------------------------
/*#region Variables */

$sidebar-width: 200px;
$titlebar-height: 30px;
$separator-color: #555555;

/*#endregion */


// -----------------------------------------------------------------------------
/*#region General Settings */

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.separator-vertical {
  color: $separator-color;
}

.separator-horizonal {
  background-color: $separator-color;
  border-color: $separator-color;
  color: $separator-color;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.v--modal-overlay {
  background: rgba(50, 50, 50, 0.7);
}

.v--modal {
  color: #606266;
  padding: 1rem;
}

.settings-panel-btns {
  border-top: 1px solid #dcdfe6;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-top: 1rem;
  text-align: center;
}

.el-message {

  &.el-message--success {
    background-color: #d4edda;
    border: 1px solid #afd2b7;
    font-weight: bold;

    .el-icon-check,
    .el-message__content {
      color: #155724;
      font-weight: bold;
    }

    .el-icon-check {
      margin-right: 10px;
    }
  }
}

/*#endregion */


// -----------------------------------------------------------------------------
/*#region Container Definitions */

#titlebar {
  align-items: center;
  background-color: #202225;
  color: #dddddd;
  cursor: default;
  display: flex;
  height: $titlebar-height;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  z-index: 1000;

  #titlebar-right {
    padding-bottom: 2px;
    -webkit-app-region: no-drag;

    button {
      background: #202225;
      border: none;
      border-radius: 4px;
      height: 20px;
      outline: none;
      padding: 1px;
      width: 20px;

      i {
        color: white;
        font-weight: bold;
      }

      &:hover {
        background: rgb(71, 71, 71);
      }

      &.titlebar-close:hover {
        background: red;
      }
    }
  }
}

#container {
  backface-visibility: hidden;
  display: flex;
  height: 100vh;
  margin-top: -$titlebar-height;
  overflow: hidden;
  padding-top: $titlebar-height;
  position: relative;
  width: 100%;
  will-change: overflow;
}

#sidebar {
  background-color: #2F3136;
  color: #dddddd;
  height: auto;
  -ms-overflow-style: none;
  overflow: auto;
  padding: .5rem;
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: $sidebar-width;

  .settings-btn {
    bottom: 2.25rem;
    height: 35px;
    left: -0.25rem;
    padding: 0;
    position: absolute;
    width: 35px;
  }
}

#main {
  flex: 1;
  height: auto;
  margin-bottom: 1rem;
  -ms-overflow-style: none;
  overflow: auto;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

/*#endregion */


// -----------------------------------------------------------------------------
/*#region Feed Cards */

.feed-card {
  margin-bottom: 1rem;

  .el-card__header {
    background-color: #343434;
    color: #dddddd;
    font-weight: bold;
  }
}

.feed-body {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 5px;

  > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
      border-bottom: 1px dashed #656565;
    }

    a {
      color: black;
      text-decoration: none;

      img {
        max-width: 100%;
        margin-top: 0.5rem;
      }
    }
  }
}

.feed-card-title {
  cursor: default;
  display: inline-block;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  white-space: nowrap;
}

/*#endregion */


// -----------------------------------------------------------------------------
/*#region Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

// Handle
::-webkit-scrollbar-thumb {
  background: rgba(50,50,50,0.8); 
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(50,50,50,0.4);
}

/*#endregion */
