@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

// -----------------------------------------------------------------------------
/*#region Variables */

$sidebar-width: 200px;
$titlebar-height: 30px;
$separator-color: #555555;

$app-bg-color: rgb(63, 65, 71);

$modal-bg-color: rgba(50, 50, 50, 0.7);
$modal-font-color: #606266;

$message-success-bg-color: #d4edda;
$message-success-border: 1px solid #afd2b7;
$message-success-font-color: #155724;

$input-background-color: #484B51;
$input-font-color: #dddddd;

$button-dark-background-color: #2F3136; // #202225;
$button-dark-background-color-hover: #18191b;
$button-dark-font-color: #dddddd;
$button-dark-font-color-hover: #dddddd;

$titlebar-background-color: #202225;
$titlebar-font-color: #dddddd;

$sidebar-background-color: #2F3136;
$sidebar-font-color: #dddddd;

$main-background-color: rgb(63, 65, 71); // #36393F;

$settings-modal-background-color: #2F3136;
$settings-modal-border: 1px solid black;
$settings-modal-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.6);
$settings-modal-font-color: #dddddd;

$feed-card-background-color: transparent;
$feed-card-border: 1px solid black;
$feed-card-header-background-color: #2F3136;
$feed-card-header-border: 1px solid black;
$feed-card-header-font-color: #dddddd;
$feed-card-body-background-color: #36393F; // rgb(63, 65, 71);
$feed-card-body-font-color: #eeeeee;
$feed-card-link-border: 1px dashed #eeeeee;
$feed-card-link-color: #eeeeee;

$scrollbar-track-background-color: rgba(47, 49, 54, 0.5);
$scrollbar-track-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
$scrollbar-handle-background-color: rgba(32, 34, 37, 0.5);
$scrollbar-handle-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
$scrollbar-handle-inactive-background-color: rgba(50, 50, 50, 0.4);

/*#endregion */


// -----------------------------------------------------------------------------
/*#region General Settings */

* {
  outline: none;
  -webkit-user-select: none;
}

html,
body {
  background-color: $app-bg-color;
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
}

.separator-vertical {
  color: $separator-color;
}

.separator-horizonal {
  background-color: $separator-color;
  border-color: $separator-color;
  color: $separator-color;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.v--modal-overlay {
  background: $modal-bg-color;
}

.v--modal {
  color: $modal-font-color;
  padding: 1rem;
}

.el-message {

  &.el-message--success {
    background-color: $message-success-bg-color;
    border: $message-success-border;
    font-weight: bold;

    .el-icon-check,
    .el-message__content {
      color: $message-success-font-color;
      font-weight: bold;
    }

    .el-icon-check {
      margin-right: 10px;
    }
  }
}

.no-feeds {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  > span {
    color: #202225;
    cursor: default;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }
}

.el-input__inner {
  background-color: $input-background-color;
  border: none;
  color: $input-font-color;
}

.el-button--dark {
  background-color: $button-dark-background-color; 
  border-color: $button-dark-background-color;
  color: $button-dark-font-color;

  &:focus, &:hover {
    background-color: $button-dark-background-color-hover;
    border-color: $button-dark-background-color-hover;
    color: $button-dark-font-color-hover;
  }
}

.el-button {
  
  .far, .fas {
    margin-right: 5px;
  }
}

.fullwidth {
  width: 100%;
}

/*#endregion */


// -----------------------------------------------------------------------------
/*#region Container Definitions */

#titlebar {
  align-items: center;
  background-color: $titlebar-background-color;
  color: $titlebar-font-color;
  cursor: default;
  display: flex;
  height: $titlebar-height;
  justify-content: space-between;
  -webkit-app-region: drag;

  #titlebar-left {
    font-weight: bold;
    padding-left: 0.5rem;
  }

  #titlebar-right {
    -webkit-app-region: no-drag;

    button {
      background-color: #202225;
      border: none;
      height: $titlebar-height;
      margin: 0;
      outline: none;
      padding: 0;
      width: $titlebar-height;

      .fas, .far {
        color: white;
      }

      &:hover {
        background-color: rgb(71, 71, 71);
      }

      &.titlebar-close:hover {
        background-color: red;
      }
    }
  }
}

#container {
  display: flex;
  height: calc(100vh - #{$titlebar-height});
  width: 100vw;
}

#sidebar {
  background-color: $sidebar-background-color;
  color: $sidebar-font-color;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  width: $sidebar-width;

  .sidebar-inner {
    height: fit-content;
    margin-top: 2rem;
  }

  .settings-btn {
    bottom: 2.25rem;
    height: 35px;
    left: -0.25rem;
    padding: 0;
    position: absolute;
    width: 35px;
  }
}

#main {
  background-color: $main-background-color;
  flex: 1;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

#confirm-delete-feed-dialog {

  .v--modal-box.v--modal {
    background-color: $settings-modal-background-color;
    border: $settings-modal-border;
    box-shadow: $settings-modal-box-shadow;
    color: $settings-modal-font-color;
    cursor: default;
    text-align: center;
  }

  .btn-container {
    // border-top: 1px solid black;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-top: 1rem;
    text-align: center;
  }

  h2 {
    margin-top: 0;
  }
}

#settings-panel {

  .v--modal-box.v--modal {
    background-color: $settings-modal-background-color;
    border: $settings-modal-border;
    box-shadow: $settings-modal-box-shadow;
    color: $settings-modal-font-color;
    cursor: default;

    .el-form-item__label {
      color: $settings-modal-font-color;
    }

    .el-input-number__increase,
    .el-input-number__decrease {
      background-color: #202225;
      border: none;
      bottom: 0;
      color: $settings-modal-font-color;
      top: 0;

      &:hover {
        background-color: #18191b;
      }

      i {
        font-weight: bold;
      }
    }

    .el-input-number__decrease {
      left: 0;
    }

    .el-input-number__increase {
      right: 0;
    }

    .settings-panel-btns {
      border-top: 1px solid black;
      margin-left: -1rem;
      margin-right: -1rem;
      padding-top: 1rem;
      text-align: center;
    }
  }
}

#article-panel {
  .v--modal-box.v--modal {
    background-color: $settings-modal-background-color;
    border: $settings-modal-border;
    box-shadow: $settings-modal-box-shadow;
    color: $settings-modal-font-color;
    cursor: default;

    > div {
      height: 100%;
      overflow-y: auto;
      padding-left: 1rem;
      padding-right: 1rem;

      #article-title {
        text-align: center;

        h2 {
          cursor: pointer;
          margin-bottom: 1rem;
        }
      }

      #article-date {
        color: #808080;
        margin-bottom: 1rem;
        text-align: center;
      }

      #article-description,
      #article-summary {
        border-top: 1px solid #808080;
        padding-bottom: 1rem;
        padding-top: 1rem;

        > h3 {
          margin-bottom: 1rem;
          margin-top: 0;
        }

        blockquote {
          border-left: 10px solid #808080;
          padding-left: 1rem;
        }
  
        table {
          width: 100%;
          border-collapse: collapse;
          border: 1px solid #808080;
  
          th {
            font-weight: bold;
            text-align: center;
          }
  
          th, td {
            border: 1px solid #808080;
            padding: 0.5rem;
          }
        }
  
        img {
          display: block;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
  
        a {
          color: #ffffff;
        }
      }
    }
  }
}

.v-context {
  background-color: #2F3136 !important;
  border: 1px solid black !important;
  color: #dddddd !important;

  li:hover {
    background-color: $main-background-color !important;
  }
}

/*#endregion */


// -----------------------------------------------------------------------------
/*#region Feed Cards */

.feed-card {
  background-color: $feed-card-background-color;
  border: $feed-card-border;
  margin-bottom: 1rem;

  .el-card__header {
    background-color: $feed-card-header-background-color;
    border-bottom: $feed-card-header-border;
    color: $feed-card-header-font-color;
    font-weight: bold;
  }

  .el-card__body {
    background-color: $feed-card-body-background-color;
    color: $feed-card-body-font-color;
  }
}

.feed-body {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 5px;

  &.feed-sm {
    height: 200px;
  }

  &.feed-md {
    height: 350px;
  }

  &.feed-lg {
    height: 500px;
  }

  &.feed-xl {
    height: 650px;
  }

  > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
      border-bottom: $feed-card-link-border;
    }

    a {
      color: $feed-card-link-color;
      text-decoration: none;

      img {
        max-width: 100%;
        margin-top: 0.5rem;
      }

      #feed-date {
        color: #808080;
        font-size: 13px;
        margin-top: 0.5rem;
      }
    }
  }
}

.feed-card-title {
  cursor: default;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*#endregion */


// -----------------------------------------------------------------------------
/*#region Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: $scrollbar-track-background-color;
  border-radius: 2px;
  box-shadow: $scrollbar-track-box-shadow;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: $scrollbar-track-box-shadow;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $scrollbar-handle-background-color;
  border-radius: 2px;
  box-shadow: $scrollbar-handle-box-shadow;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: $scrollbar-handle-box-shadow; 
}

// ::-webkit-scrollbar-thumb:window-inactive {
//   background: $scrollbar-handle-inactive-background-color;
// }

/*#endregion */
